#a{
color:red;
}
#b{
color:yellow;
background-color:gray;width:500px;
}
#c{
color:green;
text-align:center;
}
button{
color:red;
background-color:gray;
}
h1{
color:red;
text-transform:capitalize;
text-align:center;
}
#outer{
color:red;
font-size:25px;

}
#inner{
color:red;
font-size:10px;

}